@model List<dbtest2.Models.Car>
@*@{
    string carnum = "1111";
    //int ticket_id = 0;
    //string title = "";

    //if (Model?.Count > 0)
    //{
    //    ticket_id = Model[0].Ticket_Id;
    //    title = Model[0].Title;

    //}
}*@

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="md-float-material form-material" method="post" action="/home/TableDelete_Input">
                <div class="auth-box card">
                    <div class="card-block">
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-center">출차 하기</h3>
                            </div>
                        </div>
                        <div class="form-group form-primary">
                            <label class="float-label">차량 번호</label>
                            <input type="text" name="carnum" class="form-control" placeholder="Car Number">
                            <span class="form-bar"></span>
                        </div>

                        <div class="row m-t-30">
                            <div class="col-md-12">
                                @*@foreach (var car in Model)
                                {
                                    if (car.CarNum.Equals(carnum))
                                    {
                                        <button type="submit" onclick="btn1_click(@car.Parking_Fee);" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">출차</button>

                                    }
                                }*@
                                <button type="submit" onclick="btn1_click('OK');" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">출차</button>
                                @*<button type="submit" onclick="btn1_click();" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">출차</button>*@
                            </div>
                        </div>
                        <hr />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function btn1_click(s) {
        alert("주차 요금은 " + s + "원 입니다.\n출차했습니다.");
    }
</script>