@{
    var dt = ViewData["dt"] as System.Data.DataTable;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Striped Table with Hover</h4>
                    <p class="card-category">Here is a subtitle for this table</p>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Car_Number</th>
                        <th>In_Time</th>
                        @*<th>Out_Time</th>*@
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow row in dt.Rows)
                            {
                                <tr>
                                    <td>@row["car_id"]</td>
                                    <td>@row["carnum"]</td>
                                    <td>@row["intime"]</td>
                                    @*<td>@row["outtime"]</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div>
    <form id="form1" method="post" action="/home/tablechange">
        <input name="car_id" type="text" value="1" />
        <input name="carnum" type="text" value="1111" />

        <button type="submit" , class="btn btn-sm btn-primary">변경 전송</button>
    </form>
</div>*@